executors:
  default:
    docker:
      - image: cimg/ruby:2.6.6
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          RAILS_ENV: test
          RUBYOPT: "-EUTF-8"
jobs:
  build:
    executor: default
    steps:
      - checkout
      - ruby/install-deps
      - ruby/rspec-test
orbs:
  ruby: circleci/ruby@1.1.2
version: 2.1
workflows:
  test:
    jobs:
      - build
